<!DOCTYPE html>
<html>

<head>
	<link href="/styles/tower.css" rel="stylesheet" type="text/css" media="all">
	<script type="module" src="/scripts/common.js" defer></script>
	<script type="module" src="/scripts/tower.js" defer></script>

	$$head
</head>

<body>
	<div class="main-layout">
		<div class="leftbars">
			<div class="jukebar collapsed" id="jukebar">
				<button class="juketab" id="juketab">
					<img src="/assets/textures/juketab.png" alt="" class="juketab-img">
				</button>
				<div class="jukebar-content">
					<span id="jukebar-title">Test Song Name Goes Here</span>
					<div class="jukebar-sub" id="jukebar-sub">
						Test Original Name Goes Here - Test Source Name Goes Here
					</div>
				</div>

				<dialog class="popup" id="jukebox-allow">
					Audio is not allowed to autoplay by default.<br>
					Please adjust your permissions manually. (It's probably on the address bar)<br>
					<button class="jukebox-play" id="jukebox-play">Play music manually</button>
				</dialog>
			</div>
			<div class="sidebar collapsed">
				<button class="sidebar-tab box">Navigation</button>
				<nav class="sidebar-content box">
					<div class="navheader">Navigation</div>
					<ul class="navlist">
						<li class="navitem">
							<a href="/session">Current Session</a>
						</li>
						<li class="navitem">
							<a href="/characters">Characters</a>
						</li>
					</ul>
					<span class="view-count" id="view-count"></span>
				</nav>
			</div>
			<div class="sidebar collapsed">
				<button class="sidebar-tab box">Settings</button>
				<nav class="sidebar-content box">
					<div class="navheader">Settings</div>
					<ul class="navlist">
						<li class="navitem">meow :3</li>
						<li class="navitem">I dunno what goes here</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="rightbars">
			<div class="sidebar collapsed">
				<button class="sidebar-tab box">DM Sidebar</button>
				<nav class="sidebar-content box">
					<div class="navheader">DM Sidebar</div>
					<ul class="navlist">
						<li class="navitem"> <a href="javascript:void(0)" id="start-session">Start Session</a> </li>
						<li class="navitem"> <a href="javascript:void(0)" id="end-session">End Session</a> </li>

						<li><br>Music</li>
						<li class="navitem"> <a href="javascript:void(0)" id="queue-music">Queue</a> </li>
						<li class="navitem"> <a href="javascript:void(0)" id="play-music">Play</a> </li>
						<li class="navitem"> <a href="javascript:void(0)" id="pause-music">Pause</a> </li>
						<li class="navitem"> <a href="javascript:void(0)" id="stop-music">Stop</a> </li>
					</ul>
				</nav>

				<dialog class="popup" id="dm-popup">
				</dialog>
			</div>
		</div>
		$$body
		<div class="console" id="console"></div>
		<div class="console-input hidden" id="console-input"></div>
	</div>
</body>

</html>
